---
title: Event Alerts
owner: Event Alerts
---

<strong><%= modified_date %></strong>

This documentation describes <%= vars.product_full %>.

## <a id='overview'></a>Overview

As an admin, you might want to receive notifications about important events that occur on your system.
The <%= vars.product_short %> service gives you the option to set up alerts for a variety of events.
You can use this service to subscribe to notification topics---notable events that might occur.
Notification topics are monitored by publishers---<%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) components that emit events.
You can send these notifications using email, Slack, or webhook integration.

For example, you can subscribe to a topic from [Healthwatch](http://docs.pivotal.io/pcf-healthwatch/index.html)
that sends a notification when the memory use on a specific VM reaches a certain percentage.

<%= vars.app_runtime_abbr %> users with admin permissions can run event alert commands and subscribe to alerts.
Admins can configure event alerts using the Cloud Foundry Command Line Interface (cf CLI) tool.

## <a id='features'></a>Key Features

* Send notifications by email to specific users and to distribution lists.
* Send notifications to Slack channels.
* Send notifications to a designated URL using webhooks.

## <a id='publishers'></a>Supported Publishers

<%= vars.product_short %> v1.2.3 and later supports Healthwatch as a publisher.
For general information about Healthwatch, see [Healthwatch](https://docs.pivotal.io/pcf-healthwatch/).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about <%= vars.product_short %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.2.11</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 7, 2020</td>
    </tr>
    <tr>

        <td>Compatible <%= vars.ops_manager %> version(s)</td>
        <td>2.3 and later</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.app_runtime_full %> version(s)</td>
        <td>2.3 and later</td>
    </tr>
    <tr>
        <td>Compatible Healthwatch versions</td>
        <td>1.4 and later</td>
    </tr>
    <tr>
        <td>MySQL</td>
        <td>VMware Tanzu SQL with MySQL for VMs v2.0 and later or MySQL 5.7 and later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>
