---
title: Release Notes for Pivotal Event Alerts
owner: Event Alerts
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + "/branding-change" %>

<%= partial vars.path_to_partials + "/pcf-name-change" %>

##<a id="1-2-10"></a> v1.2.10

**Release Date: November TBD, 2019**

### <a id="features1210"></a> Features

New features and changes in this release:

* Removes requirement that Slack webhook URLs contain `slack.com`. This enables admins to create
Slack targets with webhooks from other messaging platforms. For instructions for creating
Slack targets, see [Create Slack Targets](./using.html#slack_targets).
* Adds support for Metric Registrar.
This enables <%= vars.product_name %> to emit custom app metrics in a structured log format.
For more information about Metric Registrar,
see [Using Metric Registrar](https://docs.pivotal.io/platform/application-service/metric-registrar/using.html#register-log-format).

### <a id="fixed1210"></a> Fixed Issues

This release fixes the following issue:

* <%= vars.product_name %> no longer fails to emit custom metrics on
Pivotal Application Service v2.5 and later.

###<a id="known1210"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/eva/deployfails-ki" %>

<%= partial vars.path_to_partials + "/eva/azure-usernames-ki" %>

<%= partial vars.path_to_partials + "/eva/mariadb-ki" %>

<%= partial vars.path_to_partials + "/eva/mysql-ip-binding-ki" %>

##<a id="1-2-9"></a> v1.2.9

**Release Date: November 5, 2019**

### <a id="features129"></a> Features

New features and changes in this release:

+ This release updates the product name from <%= vars.product_old %> to <%= vars.product_name %> in the tile.

###<a id="known129"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/eva/deployfails-ki" %>

<%= partial vars.path_to_partials + "/eva/azure-usernames-ki" %>

<%= partial vars.path_to_partials + "/eva/mariadb-ki" %>

<%= partial vars.path_to_partials + "/eva/mysql-ip-binding-ki" %>


##<a id="1-2-8"></a> v1.2.8

**Release Date: July 2, 2019**

### <a id="features128"></a> Features

New features and changes in this release:

* cf CLI is now v6.45.0
* Go is now v1.12


###<a id="known128"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/eva/deployfails-ki" %>

<%= partial vars.path_to_partials + "/eva/azure-usernames-ki" %>

<%= partial vars.path_to_partials + "/eva/mariadb-ki" %>

<%= partial vars.path_to_partials + "/eva/mysql-ip-binding-ki" %>

##<a id="1-2-7"></a> v1.2.7

**Release Date: May 30, 2019**

### <a id="features127"></a> Features

New features and changes in this release:

* Adds support for proxy settings.
For more information about configuring proxy settings, see [Configuring Proxy Settings for All Applications
](https://docs.pivotal.io/pivotalcf/opsguide/config-proxy.html).
* Improves log error messages when alerts fail to send.
* Adds option to disable Pivotal Metrics Forwarder integration.
* Adds support for disabling SMTP TLS. For more information, see [Configure Email Notifications](./installing.html#email_settings)
* If you subscribed to `-all` topics, you can selectively unsubscribe from individual topics.
You can also selectively subscribe to individual topics.
For more information, see [Unsubscribe from Alert Topics](./using.html#unsubscribe_topics)
and [Subscribe to Alert Topics](./using.html#subscribe_topics).
* Maintenance update of the following product dependencies:
    * cf CLI is now v6.44.1

### <a id="known127"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/eva/deployfails-ki" %>

<%= partial vars.path_to_partials + "/eva/azure-usernames-ki" %>

<%= partial vars.path_to_partials + "/eva/mariadb-ki" %>

<%= partial vars.path_to_partials + "/eva/mysql-ip-binding-ki" %>

##<a id="1-2-6"></a> v1.2.6

**Release Date: December 7, 2018**

### <a id="features126"></a> Features

New features and changes in this release:

* Maintenance update of the following product dependencies:
    * Flyway Command-line is now v5.2.1
    * Go is now v1.11
    * cf CLI is now v6.40.1

### <a id="known126"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/eva/azure-usernames-ki" %>

<%= partial vars.path_to_partials + "/eva/mariadb-ki" %>

<%= partial vars.path_to_partials + "/eva/mysql-ip-binding-ki" %>

##<a id="1-2-5"></a> v1.2.5

**Release Date: October 4, 2018**

### <a id="features125"></a> Features

Change in this release:

* <%= vars.product_name %> now uses `cflinuxfs3` as the default stack when available.

     `cflinuxfs2` is used when <%= vars.product_name %> is installed on an environment that does not have `cflinuxfs3`,
      for example, a PCF v2.2 environment.

### <a id="fixed125"></a> Fixed Issues

This release fixes the following issues:

* In earlier versions of <%= vars.product_name %>, the tile version in the tile metadata did not match the version
of <%= vars.product_name %>. The version numbers now match.

* This version of <%= vars.product_name %> supports using BOSH DNS in conjunction
  with the IPsec Add-on for PCF when using an internal database.

### <a id="known125"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/eva/azure-usernames-ki" %>

<%= partial vars.path_to_partials + "/eva/mariadb-ki" %>

<%= partial vars.path_to_partials + "/eva/mysql-ip-binding-ki" %>

##<a id="1-2-3"></a> v1.2.3

**Release Date: September 6, 2018**

### <a id="features123"></a> Features

New features and changes in this release:

* Added support for SMTP servers without authentication.
  Credentials are no longer required when configuring SMTP server settings.
  To connect to a SMTP server without authentication, leave the SMTP username
  and password fields empty.

* Escape characters are no longer required in configuration passwords.

* Maintenance update of the following product dependencies:
    * Flyway Command-line is now v5.1.4
    * Go is now v1.10.3
    * Product stemcell is now Ubuntu Xenial v97.x

* Before using <%= vars.product_name %> v1.2.3, you must update any BOSH add-ons to support Xenial stemcells.
    For more information, see [Prerequisites](./installing.html#prereqs).
<p class="note breaking"><strong>Breaking Change: </strong> <%= vars.product_name %> v1.2.3 and later require a Xenial stemcell.
You must manually download and import a new stemcell into the Pivotal Ops Manager Stemcell Library before deploying <%= vars.product_name %>.
Any automation you have set up to update your <%= vars.product_name %> deployments using Trusty stemcells might break.</p>

### <a id="fixed123"></a> Fixed Issues

This release fixes the following issue:

* External Azure MySQL databases and other cases where usernames contain the `@` symbol are now supported.

### <a id="known123"></a> Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/eva/azure-usernames-ki" %>

* When using <%= vars.product_name %> and BOSH DNS in conjunction with IPSec Add-On for PCF and an internal database,
 <%= vars.product_name %> do not function.
 This issue is fixed in <%= vars.product_name %> v1.2.5.
* The tile version in the tile metadata might not match the version of <%= vars.product_name %>.
These version numbers are aligned as of <%= vars.product_name %> v1.2.5.

<%= partial vars.path_to_partials + "/eva/mariadb-ki" %>

<%= partial vars.path_to_partials + "/eva/mysql-ip-binding-ki" %>

##<a id="1-2-1"></a> v1.2.1

**Release Date: July 17, 2018**

### <a id="features121"></a> Features

New features and changes in this release:

* To view Healthwatch topics, you must have [Pivotal Healthwatch v1.3] (https://docs.pivotal.io/pcf-healthwatch) installed.

* Dependence on notifications has been removed.

* Email configuration is now an option.
  <p class="note"><strong>Note</strong>: Specifying email configuration settings is required
    if you want notifications sent by email.</p>
    For more information, see [Configure Email Notifications](installing.html#email_settings).

* All destination email addresses now receive validation messages.
  Before v1.2.1, if the notification email address was the same as the account creating the target,
  the email address was verified automatically.

### <a id="known121"></a> Known Issues

This release has the following issues:

* Users of <%= vars.product_name %> v1.2.1 are required to use escape characters in configuration passwords.
  This is no longer required in <%= vars.product_name %> v1.2.3 and later releases.

<%= partial vars.path_to_partials + "/eva/azure-usernames-ki" %>

* The tile version in the tile metadata might not match the version of <%= vars.product_name %>.
These version numbers are aligned as of <%= vars.product_name %> v1.2.5.

<%= partial vars.path_to_partials + "/eva/mariadb-ki" %>

<%= partial vars.path_to_partials + "/eva/mysql-ip-binding-ki" %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
