---
title: Monitoring and Troubleshooting Event Alerts
owner: Event Alerts
---

<strong><%= modified_date %></strong>

This topic describes how to monitor and troubleshoot <%= vars.product_full %>.

##<a id='monitor'></a> Monitor <%= vars.product_full %>

<%= vars.product_full %> is deployed as an app in <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>).
By default, this app is called `event-alerts` and is deployed in the `event-alerts` space within the `system` org.

To monitor the performance of <%= vars.product_short %> or to retrieve troubleshooting information, you can do one or more of the following:

* Use the Cloud Foundry Command Line Interface (cf CLI) to obtain logs for the `event-alerts` app.
  For more information, see [Application Logging in Cloud Foundry](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/streaming-logs.html).
* Use the App Metrics service.
  For more information, see [App Metrics](https://docs.pivotal.io/app-metrics/index.html).
* Use the Metrics Forwarder service.
  The `event-alerts` app detects if you have an available instance of Metrics Forwarder
  and transmits custom app metrics through Loggregator to the service.
  For more information, see [Metrics Forwarder](https://docs.pivotal.io/metrics-forwarder/).
  <p class="note"><strong>Note:</strong> When Metrics Forwarder is not installed,
     <%= vars.product_short %> produces an error.
     This indicates that no custom metrics are being published to the Firehose.
     It does not indicate a problem with the system.</p>

##<a id="scale"></a> Scale <%= vars.product_full %>

You might need to scale <%= vars.product_short %> to improve performance.

To scale <%= vars.product_short %>:

1. Use the cf CLI to log in to your <%= vars.app_runtime_abbr %> deployment as an admin. For example:
	<pre class="terminal">$ cf login
	API endpoint: http<span>s:</span>//api.sys.cf-example.com
	Email> admin
	Password>
	</pre>
1. When prompted, select the `system` org and the `event-alerts` space.
1. Scale up the number of instances of the `event-alerts` app.
   Two instances should adequately handle most alerting workloads from Healthwatch.
   For example:
	<pre class="terminal">$ cf scale event-alerts -i 2</pre>
	If you are running very large <%= vars.app_runtime_abbr %> deployments with frequent threshold events,
        you might need to increase the instance count above two.

##<a id="reduce-notifications"></a> Reduce Notifications

If <%= vars.product_full %> is receiving frequent event notifications, you can do one or both of the following:

* Unsubscribe from alerts that have minimal action.
* Increase threshold values to supply better indicators for action.

For more information about unsubscribing from alerts and increasing threshold values, see [Using <%= vars.product_full %>](using.html).

##<a id="t-shoot-errors"></a> Troubleshooting Errors

This section provides information about how to troubleshooting specific errors or error messages.

<a name="errand-fails"></a>
<table class="nice">
  <style>
    main table {
      table-layout: fixed;
    }
  </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th colspan="2" style="text-align: left;">
    <br>
    Deploy Event Alerts Errand Fails
    <br><br>
  </th>
  </tr>
  <tr>
    <th>Symptom</th>
    <td>
      When you <strong>Apply Changes</strong>, you see in the <%=  vars.ops_manager %>
      installation pane that the <strong>Deploy Event Alerts</strong> errand fails with the following error:
      <pre class="terminal">You do not have the SUPER privilege and binary logging is enabled (you *might* want to use the less safe log_bin_trust_function_creators variable)</pre>
    </td>
  </tr>
  <tr>
    <th>Cause</th>
    <td>
      This problem happens when you do not have SUPER privileges and binary logging is enabled.
      If you do not resolve this issue, Event Alerts is not deployed. <br>
      For information about the above error message,<br><br>
      see <a href="https://dev.mysql.com/doc/refman/en/stored-programs-logging.html">Stored Program Binary Logging</a>
      in the open source MySQL documentation.
    </td>
  </tr>
  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td>
      To solve this issue: <br>
      <ol>
        <li>
          Drop the Event Alerts database and re-create it. For information about dropping a database, see the
          <a href="https://dev.mysql.com/doc/refman/en/drop-database.html">open source MySQL documentation</a>.
        </li>
        <li>
          Do one of the following:
          <ul>
            <li>
              In the database, deactivate binary logging.
              For information, see the
              <a href="https://dev.mysql.com/doc/refman/en/binary-log.html">open source MySQL documentation</a>
            </li>
            <li>
              In the database, set <code>log_bin_trust_function_creators</code> to  <code>1</code>.
              For information, see the
              <a href="https://dev.mysql.com/doc/refman/en/replication-options-binary-log.html#sysvar_log_bin_trust_function_creators"> open
              source MySQL documentation</a>.
            </li>
          </ul>
        </li>
        <li>
          In <%= vars.ops_manager %>, <strong>Apply Changes</strong> with the
          <strong>Deploy Event Alerts</strong> errand checked.
        </li>
      </ol>
    </td>
  </tr>
</table>
